apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: ghost-multi-env
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-options: CreateNamespace=true
  labels:
    app.kubernetes.io/name: ghost
    app.kubernetes.io/component: applicationset
    app.kubernetes.io/managed-by: argocd
spec:
  generators:
  - list:
      elements:
      - env: dev
        name: ghost-dev
        targetRevision: master
        replicaCount: "1"
      - env: staging
        name: ghost-staging
        targetRevision: master
        replicaCount: "2"
      - env: prod
        name: ghost-prod
        targetRevision: master
        replicaCount: "3"
  template:
    metadata:
      name: '{{name}}'
      namespace: ghost
      labels:
        app.kubernetes.io/name: ghost
        app.kubernetes.io/environment: "{{env}}"
        app.kubernetes.io/component: application
        app.kubernetes.io/managed-by: argocd
        app.kubernetes.io/part-of: ghost-platform
      annotations:
        argocd.argoproj.io/sync-wave: "1"
        notifications.argoproj.io/subscribe.on-sync-succeeded.slack: "#ghost-{{env}}"
    spec:
      project: ghost-apps
      source:
        repoURL: https://github.com/dmitri166/ghost_on_prem_project.git
        targetRevision: "{{targetRevision}}"
        path: applications/ghost-app/helm
        helm:
          valueFiles:
            - values-{{env}}.yaml
          parameters:
            - name: global.environment
              value: "{{env}}"
            - name: replicaCount
              value: "{{replicaCount}}"
      destination:
        server: https://kubernetes.default.svc
        namespace: ghost
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
        - CreateNamespace=true
        - PrunePropagationPolicy=foreground
        - PruneLast=true
        retry:
          limit: 5
          backoff:
            duration: 5s
            factor: 2
            maxDuration: 3m
      info:
        - name: "Environment"
          value: "{{env}}"
        - name: "Replicas"
          value: "{{replicaCount}}"
